#balloon-container {
  height: 100vh;
  width: 100vw;
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
  overflow: hidden;
}

.balloon {
  height: 125px;
  width: 105px;

  border-radius: 85% 85% 85% 85%;
  position: relative;
}

.balloon:before {
  content: "";
  height: 75px;
  width: 1px;
  padding: 1px;
  background-color: white;
  display: block;
  position: absolute;
  top: 125px;
  left: 0;
  right: 0;
  margin: auto;
}

.balloon:after {
  content: "▲";
  text-align: center;
  display: block;
  position: absolute;
  color: inherit;
  top: 120px;
  left: 0;
  right: 0;
  margin: auto;
}

.score_text {
  color: white;
  position: fixed;
  top: 5%;
  left: 2%;
  font-size: 26px;
}

.text {
  position: fixed;
}
.balloon .clicked {
  background-color: red;
  color: blue;
  transform: scale(2);
}
.counter {
  position: fixed;
  top: 65%;
  left: 50%;
  color: yellow;
  font-size: 50px;
  z-index: 50;
  transform: translate(-50%, -50%);
}
.score {
  position: fixed;
  top: 60%;
  left: 50%;
  color: white;
  font-size: 30px;
  z-index: 50;
  transform: translate(-50%, -50%);
}

.new_game {
  transition: 0.3s;
}
.new_game:hover {
  color: red;
  transition: 0.3s;
}

.outerBalloon {
  position: absolute;
  width: 100px;
  height: 120px;
}

@-webkit-keyframes float {
  from {
    transform: translateY(100vh);
    opacity: 1;
  }
  to {
    transform: translateY(-300vh);
    opacity: 0;
  }
}

@keyframes float {
  0% {
    transform: translateY(100vh);
    opacity: 1;
    visibility: inherit;
  }

  100% {
    transform: translateY(-300vh);
    opacity: 1;
    visibility: inherit;
  }
}

@media (max-width: 640px) {
  #balloon-container {
    width: 100%;
    left: 0;
    transform: translate(0);
    padding: 0;
  }
}
